* {
  box-sizing: border-box;
  color: rgb(255, 255, 255);
  font-size: 15px;
  font-family: 'Montserrat', sans-serif;
}

body {
  background-color: #141b1c;
}
h3 {
  margin: auto;
  line-height: 24.38px;
  font-size: 20px;
  font-weight: 300;
}
h3::first-line {
  line-height: 42.67px;
  font-size: 35px;
  font-weight: 700;
}
