.price-card__options-list {
  text-align: start;
  margin-bottom: 39px;
}
 li:nth-child(odd) {
  background-color: rgb(42, 52, 56);
}
li {
  display: block;
  height: 50px;
  font-size: 15px;
  line-height: 18px;
  padding-left: 59px;
  line-height: 50px;
  position: relative;
  cursor: pointer;
}
li:hover {
  filter: brightness(1.4);
}
li:nth-child(odd) {
  background-color: rgb(42, 52, 56);
}
.green-arrow::before {
  content: '';
  width: 15px;
  height: 13px;
  background: url(https://gromcode.s3.eu-central-1.amazonaws.com/front-end/html-css/lesson+25/verification-checkmark-symbol_green.png)
    center no-repeat;
  position: absolute;
  left: 22px;
  top: 19px;
}
.blue-arrow::before {
  content: '';
  width: 15px;
  height: 13px;
  background: url(https://gromcode.s3.eu-central-1.amazonaws.com/front-end/html-css/lesson+25/verification-checkmark-symbol_blue.png)
    center no-repeat;
  position: absolute;
  left: 22px;
  top: 19px;
}
.orange-arrow::before {
  content: '';
  width: 15px;
  height: 13px;
  background: url(https://gromcode.s3.eu-central-1.amazonaws.com/front-end/html-css/lesson+25/verification-checkmark-symbol_orange.png)
    center no-repeat;
  position: absolute;
  left: 22px;
  top: 19px;
}
