.price-card__order-btn {
  width: 154px;
  height: 40px;
  border-radius: 20px;
  background-color: rgb(91, 177, 137);
  border: none;
  font-size: 14px;
  font-weight: 400;
  cursor: pointer;

  &__order-btn:hover {
    filter: brightness(1.4);
  }
}
